[package]
name = "bergamot-core"
version = "0.1.0"
edition = "2024"
license.workspace = true

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1"

[dev-dependencies]
serde_json = "1.0"
